<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Modee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcMovie.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="color: #1e1e1e; background-color: #1e1e1e;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    @* Modee *@
                    <img src="~/img/logotagline1.png" alt="Modee" , width="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Top">Top</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home"
                                asp-action="Bottom">Bottom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Dress">Dress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Shoes">Shoes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Bag">Bag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home"
                                asp-action="Accessories">Accessories</a>
                        </li>
                    </ul>
                    <form class="d-flex" method="get" asp-controller="Search" asp-action="Index">
                        <input class="form-control me-2" type="search" placeholder="Search for Product" aria-label="Search" name="keyword">
                        @* <button class="btn" type="submit" style="background-color: #ff82c9; color: white;">Search</button> *@
                    </form>                   
                    <br>
                    @if (Context.Session.GetString("token") != null)
    {
        <a asp-controller="MyWishlist"
                                asp-action="Index">
                    <i class="bi bi-heart-fill" style="color: #ff82c9; font-size: 26px; padding-left: 15px;"></i></a> 
    } else {
        <a asp-controller="Login"
                                asp-action="Index" asp-route-returnUrl="/MyWishlist">
                    <i class="bi bi-heart-fill" style="color: #ff82c9; font-size: 26px; padding-left: 15px;"></i></a> 
    }                     
                    <br>
                    @if (Context.Session.GetString("token") != null)
    {
                    <a asp-controller="MyCart"
                                asp-action="Index">
                    <i class="bi bi-cart-fill" style="color: #ff82c9; font-size: 26px; padding-left: 15px;"></i></a>  
    } else {
        <a asp-controller="Login"
                                asp-action="Index" asp-route-returnUrl="/MyCart">
                    <i class="bi bi-cart-fill" style="color: #ff82c9; font-size: 26px; padding-left: 15px;"></i></a> 
    } 
                     <br>
                    <a asp-controller="Login"
                                asp-action="Index">
                    <i class="bi bi-person-circle" style="color: #ff82c9; font-size: 26px; padding-left: 15px;"></i></a>              
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container" style="display:flex;justify-content:center;align-items:center; color: white;">
            &copy; 2022 - Modee
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
