@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<div>
<form method="post" asp-controller="Login" asp-action="Login">
    Username <input type="text" name="username"/>
    <br>
    Password <input type="password" name="password"/>
    <br>
    <input type="submit" value="Login"/>
</form>
<br>
Dont Have Account? <a asp-controller="Register" asp-action="Index"> Register </a>
</div>