@* @page
@model final_project.Dtos.User.UserDTO
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>
        @Html.DisplayFor(item => Model.Name)
    </p>
    <p>
        @Html.DisplayFor(item => Model.Token)
    </p>
</div> *@

<h3>Login</h3>
<form method="post" asp-controller="Login" asp-action="Login">
    Username <input type="text" name="username"/>
    <br>
    Password <input type="password" name="password"/>
    <br>
    <input type="submit" value="Login"/>
</form>