@* @page *@
@model final_project.Dtos.Product.ProductDTO
@{
    ViewData["Title"] = "One Stop Fashion Store";
}

<html>
<body style="background-color: #1e1e1e">
<div class="container" style="background-color:#1e1e1e;">
  <div class="row">
    <div class="col align-self-start">
        <h1 style="color:white;">New Arrival</h1>
        <br>
        <h3 style="color:white;">@Html.DisplayFor(model => model.ProductName)</h3>
        <p style="color:white; white-space: pre;">@Html.DisplayFor(model => model.Description)</p>
        <br>
        <br>
        <br>
        <h5 style="color:white; font-family:garamond; word-spacing:10px; font-size:20px;"><i> Simplicity, made even better. We seek out innovative <br> material and fabrication methods to create our clothing-- <br> and if they don't exist, we invent it.</i></h5>
    </div>
    <div class="col align-self-end">
      <img src="@Html.DisplayFor(model => model.ImageURL)" width="500" height="545" align=right>
    </div>  
  </div>
  <a asp-controller="Home" asp-action="NewArrival">
  <button type="button" class="btn" style = "background-color: #ff82c9;"> View More </button>
  </a>
</div>
</div>
</body>
</html>