@* @page *@
@model final_project.Dtos.Product.ProductDTO
    
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>    

    <p>
        @Html.DisplayFor(model => model.ProductName)
        </p>
</div>