@page
@model final_project.Dtos.Product.ProductDTO

@{
    ViewData["Title"] = "@Html.DisplayFor(model => model.ProductName)";
}

<h1>@ViewData["Title"]</h1>

<html>
<body style="background-color: #1e1e1e;">
    <div class="Container" style="background-color: #1e1e1e;">
        <div class="column">
            <div>

            </div>
        </div>
        
    </div>
</body>