@* @page *@
@model List<final_project.Dtos.Product.ProductDTO>
@{
    ViewData["Title"] = "Top";
}

<h1>@ViewData["Title"]</h1>

<div>
    @foreach (var item in Model)
    {
        <p> 
            @Html.DisplayNameFor(modelItem => item.ProductName)
            @Html.DisplayFor(modelItem => item.ProductName)       
        </p>
        <br>
    }
</div>